[Unit]
Description=set or reset the keyboard repeat rate
Documentation=https://man.archlinux.org/man/xset.1
# these targets are system wide, which is why they cannot be set in a user's config
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
User=ckrenzer
Environment=DISPLAY=:0.0
ExecStart=/home/ckrenzer/local/bin/set-keyboard-repeat-rate.sh

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
